<header class="cabecera fixed-top">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark cNav">
    <a class="navbar-brand" [routerLink]="['/Home']" (click)="routerTo('Home')">
      <img src="../../../../assets/logo.svg" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li [ngClass]="{ active: home }">
          <a
            class="nav-link"
            [routerLink]="['/Home']"
            (click)="routerTo('Home')"
            >Home</a
          >
        </li>
        <li [ngClass]="{ active: product }">
          <a
            class="nav-link"
            [routerLink]="['/Productos']"
            (click)="routerTo('Productos')"
            >Productos</a
          >
        </li>
        <li [ngClass]="{ active: about }">
          <a
            class="nav-link"
            [routerLink]="['/Acercade']"
            (click)="routerTo('Acercade')"
            >Acerca De</a
          >
        </li>
        <li [ngClass]="{ active: info }">
          <a
            class="nav-link"
            [routerLink]="['/Info']"
            (click)="routerTo('Info')"
            >Información</a
          >
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div>
          <li class="nav-item dropdown" style="list-style: none;">
            <a
              class="nav-link dropdown-toggle link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img src="../../../../assets/usuario.svg" style="height: 20px;" />
              <i class="arrow down"></i>
            </a>
            <div
              class="dropdown-menu clase"
              aria-labelledby="navbarDropdown"
              style="min-width: 0;"
            >
              <a
                [routerLink]="['/login']"
                class="dropdown-item clase"
                (click)="routerTo('login')"
                style="cursor: pointer; font-size: 0.7em !important;"
                >Salir</a
              >
            </div>
          </li>
        </div>
      </form>
    </div>
  </nav>
</header>
