<div class="principal">
  <button
    type="button"
    class="btn btn-success boton"
    (click)="presionado($event)"
  >
    Presionar
  </button>
</div>

<div class="container contenedor">
  <table class="table font-08-em table-bordered">
    <thead>
      <th class="align-center-text">Id</th>
      <th class="align-center-text">Nombre</th>
      <th class="align-center-text">Apellido</th>
      <th class="align-center-text">Estado</th>
      <th class="align-center-text">Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos">
        <td class="align-center-text">{{ item.Id }}</td>
        <td class="align-center-text">{{ item.Nombre }}</td>
        <td class="align-center-text">{{ item.Apellido }}</td>
        <td class="align-center-text">{{ item.Estado }}</td>
        <td class="td-buttons">
          <button type="button" class="btn btn-success font-08-em">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary font-08-em">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger font-08-em">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
